@import 'scss/vars';
@import 'scss/typo';
@import 'scss/header';
@import 'scss/game';

body {
    background-color: #282c34;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  